.qualification_container {
    max-width: 768px;
}

.qualification_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.qualification_button {
    font-size: rem1.8;
    font-weight: normal;
    margin: 0;
    cursor: pointer;

}

.qualification_icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

.qualification_active {
    color: blue;
}

.qualification_sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification_content {
    display: none;
}

.qualification_content-active {
    display: block
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification_title {
    font-size: 1.5rem;
    font-weight: normal;
}

.qualification_subtitle {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.qualification_calendar {
    font-size: 1.1rem;
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
}

.qualification_line {
    display: block;
    width:1px;
    height:100%;
    background-color: red;
    transform: translate(6px, -7px);
}