@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5E7F8C;
  --foreground: #FFFFFF;
  --primary: #73A9D9;
  --secondary: #A66844;
  --accent: #82B8D9;
  --text-muted: #C2E0F2;
  --border-dark: #33353F;
  --dark-bg: #121212;
}

:root[data-theme="light"] {
  --background: #FFFFFF;
  --foreground: #5E7F8C;
  --primary: #73A9D9;
  --secondary: #A66844;
  --accent: #82B8D9;
  --text-muted: #5E7F8C;
  --border-dark: #E5E7EB;
  --dark-bg: #F3F4F6;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
